/* Style sheet for game page */
body {
  color: rgb(255, 255, 255);
}

.choice-container {
  margin-bottom: 0.8rem;
  width: 50%;
  border-radius: 4px;
  background: rgb(18, 93, 255);
  font-size: 3rem;
  min-width: 80rem;
  height: 11rem;
  border: solid black;
}

.choice-container:hover {
  cursor: pointer;
  /* box-shadow: 0 0.4rem 1.4rem 0 rgba(6, 103, 247, 0.5); */
  transform: scale(1.02);
  transform: transform 100ms;
}

.choice-prefix {
  padding: 2rem 1.5rem;
  color: gold;
}

.choice-text {
  padding: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  width: 100%;
}

.correct {
  background: linear-gradient(32deg, green 0%, rgb(41, 232, 111) 100%);
}

.incorrect {
  background: linear-gradient(32deg, red 0%, rgb(224, 11, 1) 100%);
}

/* heads up display */
#hud {
  display: flex;
  justify-content: space-between;
}

.hud-prefix {
  text-align: center;
  font-size: 2rem;
}

.hud-main-text {
  text-align: center;
}

#timer {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .choice-container {
    min-width: 40rem;
  }
}